body{
    background-color: grey;
}
.container{
    display: flex;
    justify-content: center;
}
.drawing-room{
    width: 100%;
    background-color: white;
    height: 400px;
    margin: 10px;
    border-radius: 25px;


}
.room-image{
    background-color: blue;
    height: 190px;
    margin-bottom: 15px;
    background-size: cover;
    background-image:url(modern-living-room-gray-accents.jpg);

}
